<div class="error-content text-center m-5 p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ">
        <div class="error-text">
          <h1 class="error">404 Error</h1>
          <div class="im-sheep">
            <div class="top">
              <div class="body"></div>
              <div class="head">
                <div class="im-eye one"></div>
                <div class="im-eye two"></div>
                <div class="im-ear one"></div>
                <div class="im-ear two"></div>
              </div>
            </div>
            <div class="im-legs">
              <div class="im-leg"></div>
              <div class="im-leg"></div>
              <div class="im-leg"></div>
              <div class="im-leg"></div>
            </div>
          </div>
          <h4>¡Uy! ¡Esta página no se pudo encontrar!</h4>
          <p>Lo sentimos, pero la página que busca no existe, se ha eliminado o se ha cambiado el nombre.</p>
          <a routerLink="/" class="btn btn-round text-white unique-color">Ir a la página de inicio</a>
        </div>
      </div>
    </div>
  </div>
</div>
