<!--Navbar-->
<mdb-navbar SideClass="sticky-top navbar navbar-expand-lg navbar-dark unique-color" [containerInside]="false">
  <div class="container">
    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand text-white" routerLink="">Libros</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLink="/comicyfantasia" class="nav-link waves-light" mdbWavesEffect>Catalogo<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a routerLink="/cocinaygastronomia" class="nav-link waves-light" mdbWavesEffect>Usuarios</a>
        </li>
        <!-- <li class="nav-item">
          <a routerLink="/literatura" class="nav-link waves-light" mdbWavesEffect>Literatura</a>
        </li> -->

      </ul>
      <!-- Links -->

      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li *ngIf="userservice.isLoggedIn" class="nav-item">
          <a class="nav-link" routerLink="/Agregarlibros">
            <i class="fas fa-address-book "> Agregar libros</i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/" target="_blank">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://facebook.com/" target="_blank">
            <mdb-icon fab icon="facebook"></mdb-icon>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://youtube.com/" target="_blank">
            <mdb-icon fab icon="youtube"></mdb-icon>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link">
            <div class="btn-group" mdbDropdown>
              <mdb-icon fas icon="user" mdbDropdownToggle></mdb-icon>
              <div class="dropdown-menu dropdown-menu-right dropdown-primary">
                <a *ngIf="!userservice.isLoggedIn" class="dropdown-item" routerLink="/signin">Iiniciar sesion</a>
                <div *ngIf="!userservice.isLoggedIn" class="divider dropdown-divider"></div>
                <a *ngIf="!userservice.isLoggedIn" class="dropdown-item" routerLink="/signup">Registrarse</a>

                <a *ngIf="userservice.isLoggedIn" class="dropdown-item" routerLink="/profile">Mi cuenta</a>
                <div *ngIf="userservice.isLoggedIn" class="divider dropdown-divider"></div>
                <a *ngIf="userservice.isLoggedIn" class="dropdown-item" (click)="logout()" >Logout</a>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  </div>
</mdb-navbar>
<!--/.Navbar-->
