<!-- Default form register -->

<div class="d-flex justify-content-center mx-5 my-5 py-5">
  <form [formGroup]="signUp" novalidate (ngSubmit)="send()" class="d-block  col-sm-8 col-md-6 col-lg-6 border border-light p-5">

    <p class="h4 mb-4">Regístrate</p>

    <div class="form-row mb-4">
      <div class="col">
        <!-- First name -->
        <input type="text" formControlName="name" class="form-control" placeholder="primer nombre" required>
      </div>
      <div class="col">
        <!-- Last name -->
        <input type="text" formControlName="lastname" class="form-control" placeholder="primer apellido" required>
      </div>
    </div>
    <div *ngIf="signUp.controls['name'].invalid && (signUp.controls['name'].dirty || signUp.controls['name'].touched)" class="alert alert-danger zoomIn animated delay-0s">
      <div *ngIf="signUp.controls['name'].errors.required">
        name is required.
      </div>
    </div>
    <div *ngIf="signUp.controls['lastname'].invalid && (signUp.controls['lastname'].dirty || signUp.controls['lastname'].touched)" class="alert alert-danger zoomIn animated delay-0s">
      <div *ngIf="signUp.controls['lastname'].errors.required">
        lastname is required.
      </div>
    </div>

    <!-- E-mail -->
    <input type="email" formControlName="user_email" class="form-control mb-4" placeholder="correo electronico" required [ngClass]="{ 'is-invalid': submitted && user_email.errors }">
    <div *ngIf="signUp.controls['user_email'].invalid && (signUp.controls['user_email'].dirty || signUp.controls['user_email'].touched)" class="alert alert-danger zoomIn animated delay-0s">
      <div *ngIf="signUp.controls['user_email'].errors.required">Email is required</div>
      <div *ngIf="signUp.controls['user_email'].errors.email">Email must be a valid email address</div>
    </div>

    <!-- Password -->
    <input type="password" formControlName="password" class="form-control" placeholder="contraseña" required>
    <small class="form-text text-muted mb-4">
      Al menos 8 caracteres
    </small>
    <div *ngIf="signUp.controls['password'].invalid && (signUp.controls['password'].dirty || signUp.controls['password'].touched)" class="alert alert-danger zoomIn animated delay-0s">
<!--
      <div *ngIf="signUp.controls['password'].errors.required">
        password is required.
      </div> -->

      <div *ngIf="signUp.controls['password'].errors.required">Contraseña es Requerida</div>
      <div *ngIf="signUp.controls['password'].errors.minlength">La contraseña debe tener mas de 8 caracteres</div>
    </div>

    <!-- Regístrate button -->
    <button mdbBtn block="true" [disabled]="signUp.pristine || signUp.invalid" class="my-4 unique-color text-white" type="submit">Registrarme</button>
    <hr>

    <div class="text-center">
      <!-- Social register -->
      <p>Visitenos en nuestra redes social</p>

      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="facebook"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="twitter"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="linkedin"></mdb-icon>
      </a>
      <a type="button" class="light-blue-text mx-2">
        <mdb-icon fab icon="github"></mdb-icon>
      </a>
    </div>


  </form>
  <!-- Default form register -->
</div>
