<!-- Footer -->
<footer class="page-footer font-small mdb-color">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Libros German</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quo cupiditate dolore ea a consectetur,

        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Producto</h6>
        <p>
          <a routerLink="/Cómicyfantasía"> Cómic y fantasía</a>
        </p>
        <p>
          <a routerLink="/Cocinaygastronomía">Cocina y gastronomía</a>
        </p>


      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">ENLACES ÚTILES</h6>
        <p>
          <a href="https://litnet.com/es" target="_black">litnet.com</a>
        </p>
        <p>
          <a href="https://www.casadellibro.com/" target="_black">www.casadellibro.com</a>
        </p>


      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">CONTACTO</h6>
        <p>
          <mdb-icon fas icon="home" class="mr-3"></mdb-icon>Medellin Colombia
        </p>
        <p>
          <mdb-icon fas icon="envelope" class="mr-3"></mdb-icon>librosgerman@example.com
        </p>
        <p>
          <mdb-icon fas icon="phone" class="mr-3"></mdb-icon> +57 6111222
        </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-12">

        <!--Copyright-->
        <p class="text-center">© 2020 Copyright:
          <a routerLink="/">
            <strong>German Mejia Vieco</strong>
          </a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-12">

        <!-- Social buttons -->
        <div class="text-center">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect
                href="https://facebook.com/" target="_blank">
                <i class="fab fa-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect
                href="https://twitter.com/" target="_blank">
                <mdb-icon fab icon="twitter"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a mdbBtn floating="true" size="sm" class="rgba-white-slight mx-1" mdbWavesEffect
                href="https://youtube.com/" target="_blank">
                <mdb-icon fab icon="youtube"></mdb-icon>
              </a>
            </li>

          </ul>
        </div>



      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
